*.key
*.pem
*.crt
*.csr
.ssh/
certs/
node_modules/
web/public/
npm-debug.log
.bash_profile
**/.DS_Store
database.json
local.json
sublime-gulp.log
config/
Dockerrun.aws.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Webstorm
.idea/
.idea 2/